* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #1d1d1d;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.background-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 1000px;
  height: 650px;
  background-color: black;
  border-radius: 20px;
  padding: 40px;
}

.explore-button-wrapper {
  display: flex;
}

#explore-songs {
  text-decoration: none;
  font-size: 14px;
  border-radius: 40px;
  width: 150px;
  height: 40px;
  background-color: #0173E5;
  color: white;
  border: none;
  font-weight: 400;
  margin-bottom: 15px;
}

#explore-songs:hover {
  cursor: pointer;
  background-color: #0479ef;
}

#music-search {
  display: flex;
  padding: 20px;
  margin: 0px;
  font-size: 13px;
  border-radius: 25px;
  width: 275px;
  height: 40px;
  background-color: #303030;
  color: white;
  border: none;
  font-weight: 400;
}

.filter-header {
  font-size: 14px;
  color: white;
  margin: 20px 0px 10px 0px;
}

.filter-buttons {
  display: flex;
  gap: 10px;
}

.song-filter-button {
  width: 150px;
  padding: 10px;
  font-size: 13px;
  background: transparent;
  border-radius: 25px;
  border: 1px solid white;
  margin-bottom: 40px;
  color: white;
  white-space: nowrap;
}

.song-filter-button:hover {
  cursor: pointer;
}

.added-songs-filter-button {
  width: 150px;
  padding: 10px;
  font-size: 13px;
  background: transparent;
  border-radius: 25px;
  border: 1px solid white;
  margin-bottom: 40px;
  color: white;
  white-space: nowrap;
}

.added-songs-filter-button:hover {
  cursor: pointer;
}

.song-filter-active {
  width: 150px;
  padding: 10px;
  font-size: 13px;
  background: white;
  border-radius: 25px;
  border: 1px solid white;
  margin-bottom: 40px;
  color: black;
}

#current-selection {
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin-top: 0;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.left-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 450px;
  height: 475px;
  background-color: #1d1d1d;
  border-radius: 15px;
  padding: 40px;
  overflow: hidden;
}

.album-cover-wrapper {
  align-self: center;
}

#album-cover {
  width: 200px;
  height: 200px;
  border-radius: 15px;
}

.song-info {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

#song-title {
  margin-bottom: -10px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0px;
  color: white;
}

#artist-name {
  font-size: 14px;
  font-weight: 400;
  white-space: nowrap;
  color: white;
}

.divider {
  width: 100%;
}

.artist-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#artist-picture {
  width: 36px;
  height: 36px;
  border-radius: 999px;
}

#artist-title {
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  margin: 0px;
  color: white;
}

#artist-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.right-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 475px;
  background-color: #1d1d1d;
  border-radius: 15px;
  overflow: auto;
}

#song-library-header {
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;
  margin-bottom: 0px;
  padding-left: 10px;
  color: white;
}

#song-library-subtext {
  font-size: 14px;
  margin-left: 20px;
  color: white;
  padding-left: 10px;
}

#song-library-wrapper {
  margin: 0 20px 0 20px;
}

.song-library {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: left;
  padding: 0;
  font-size: 14px;
  text-decoration: none;
}

.added-song {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.added-song:hover {
  background-color: rgb(54, 53, 53);
  border-radius: 8px;
}

.song-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.song-data:hover {
  cursor: default;
}

.remove-button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin-top: 0px;
  gap: 25px;
}

.remove-button {
  text-decoration: none;
  font-size: 13px;
  border-radius: 20px;
  width: 75px;
  height: 30px;
  background-color: #0173E5;
  color: white;
  border: none;
  font-weight: 400;
  margin: 0;
}

.remove-button:hover {
  cursor: pointer;
  background-color: #0479ef;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #1d1d1d;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 30px;
  border-radius: 15px;
  width: 800px; /* Could be more or less, depending on screen size */
  max-height: 600px;
  overflow: auto;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  width: 20px;
}

.close:hover,
.close:focus {
  color: #0173E5;
  text-decoration: none;
  cursor: pointer;
}

.database-header {
  color: white;
}

.database-subtext {
  font-size: 14px;
  font-weight: 400;
  margin-top: -10px;
  color: white;
}

.song-database {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  text-align: center;
  padding: 0;
  font-size: 14px;
  text-decoration: none;
  gap: 25px;
  margin-top: 0px;
}

.song {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.album-and-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title {
  color: white;
}

.artist {
  font-size: 12px;
  color: white;
}

.add-button {
  text-decoration: none;
  font-size: 14px;
  border-radius: 20px;
  width: 60px;
  height: 30px;
  background-color: white;
  color: black;
  border: none;
  font-weight: 400;
}

.add-button:hover {
  cursor: pointer;
}

.added-active {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 80px;
}

.added-active:hover {
  cursor: default;
}

.all-media-controls {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-top: 20px;
}

.playback-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.rewind {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 999px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  color: white;
  border: none;
  font-weight: 400;
  gap: 5px;
}

.fast-forward {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 999px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  color: white;
  border: none;
  font-weight: 400;
  gap: 5px;
}

.rewind:hover {
  cursor: pointer;
}

.fast-forward:hover {
  cursor: pointer;
}

#loop {
  color: white;
}

#loop:hover {
  cursor: pointer;
}

#shuffle {
  color: white;
}

#shuffle:hover {
  cursor: pointer;
}

.prev-button {
  text-decoration: none;
  font-size: 14px;
  border-radius: 999px;
  width: 35px;
  height: 35px;
  background-color: white;
  color: white;
  border: none;
  font-weight: 400;
}

#prev-icon {
  color: black;
}

.play-button {
  text-decoration: none;
  font-size: 14px;
  border-radius: 40px;
  width: 80px;
  height: 35px;
  background-color: #0173E5;
  color: white;
  border: none;
  font-weight: 400;
}

.next-button {
  text-decoration: none;
  font-size: 14px;
  border-radius: 999px;
  width: 35px;
  height: 35px;
  background-color: white;
  color: white;
  border: none;
  font-weight: 400;
}

#next-icon {
  color: black;
}

.prev-button:hover {
  cursor: pointer;
  background-color: rgb(250, 248, 248);
}

.play-button:hover {
  cursor: pointer;
  background-color: #0479ef;
}

.next-button:hover {
  cursor: pointer;
  background-color: rgb(250, 248, 248);
}

.bar-and-slider {
  margin-top: 20px;
}

.progress-and-volume-sliders {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.progress-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 8px;
  margin-top: 10px;
}

#current-time {
  color: white;
}

#duration {
  color: white;
}

.time {
  font-size: 14px;
}

.slider-container {
  width: 100%;
}

.slider {
  width: 100%;
}

.volume-slider {
  display: flex;
  margin-top: 10px;
  gap: 8px;
}

#volume-icon {
  color: white;
}

.song-name {
  color: white;
}

.artist-info {
  font-size: 12px;
}